# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [37]:
from yahoofinancedata import *
from pandasdatareader import *

## How to work with a Ticker object

In [12]:
ticker = get_ticker('AMZN')

In [13]:
show_ticker_info(ticker)

address1                                                410 Terry Avenue North
city                                                                   Seattle
state                                                                       WA
zip                                                                 98109-5210
country                                                          United States
phone                                                             206 266 1000
website                                            https://www.aboutamazon.com
industry                                                       Internet Retail
industryDisp                                                   Internet Retail
sector                                                       Consumer Cyclical
longBusinessSummary          Amazon.com, Inc. engages in the retail sale of...
fullTimeEmployees                                                      1541000
companyOfficers              [{'maxAge': 1, 'name': 'Mr. Jeffrey P. Bezos',...
auditRisk                                                                    4
boardRisk                                                                   10
compensationRisk                                                            10
shareHolderRightsRisk                                                        2
overallRisk                                                                 10
governanceEpochDate                                                 1685577600
compensationAsOfEpochDate                                           1672444800
dtype: object

### Show ticker info

In [14]:
pd.Series(ticker.info).head(20)

address1                                                410 Terry Avenue North
city                                                                   Seattle
state                                                                       WA
zip                                                                 98109-5210
country                                                          United States
phone                                                             206 266 1000
website                                            https://www.aboutamazon.com
industry                                                       Internet Retail
industryDisp                                                   Internet Retail
sector                                                       Consumer Cyclical
longBusinessSummary          Amazon.com, Inc. engages in the retail sale of...
fullTimeEmployees                                                      1541000
companyOfficers              [{'maxAge': 1, 'name': 'Mr. Jeffrey P. Bezos',...
auditRisk                                                                    4
boardRisk                                                                   10
compensationRisk                                                            10
shareHolderRightsRisk                                                        2
overallRisk                                                                 10
governanceEpochDate                                                 1685577600
compensationAsOfEpochDate                                           1672444800
dtype: object

### Get market data

In [15]:
data = get_market_data(ticker)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1754 entries, 2023-06-27 09:30:00-04:00 to 2023-07-03 12:45:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1754 non-null   float64
 1   High          1754 non-null   float64
 2   Low           1754 non-null   float64
 3   Close         1754 non-null   float64
 4   Volume        1754 non-null   int64
 5   Dividends     1754 non-null   float64
 6   Stock Splits  1754 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 109.6 KB

### View company actions

In [16]:
# show actions (dividends, splits)
actions, dividends, splits = get_company_actions(ticker)

In [17]:
actions, dividends, splits

(Empty DataFrame
 Columns: [Dividends, Stock Splits]
 Index: [],
 Series([], Name: Dividends, dtype: float64),
 Series([], Name: Stock Splits, dtype: float64))

### Option Expiration Dates

In [20]:
ticker.options

('2023-07-07',
 '2023-07-14',
 '2023-07-21',
 '2023-07-28',
 '2023-08-04',
 '2023-08-11',
 '2023-08-18',
 '2023-09-15',
 '2023-10-20',
 '2023-11-17',
 '2023-12-15',
 '2024-01-19',
 '2024-03-15',
 '2024-06-21',
 '2024-09-20',
 '2025-01-17',
 '2025-06-20',
 '2025-12-19')

In [21]:
expiration = ticker.options[0]

In [22]:
options = ticker.option_chain(expiration)

In [23]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     64 non-null     object
 1   lastTradeDate      64 non-null     datetime64[ns, UTC]
 2   strike             64 non-null     float64
 3   lastPrice          64 non-null     float64
 4   bid                64 non-null     float64
 5   ask                64 non-null     float64
 6   change             64 non-null     float64
 7   percentChange      64 non-null     float64
 8   volume             62 non-null     float64
 9   openInterest       64 non-null     int64
 10  impliedVolatility  64 non-null     float64
 11  inTheMoney         64 non-null     bool
 12  contractSize       64 non-null     object
 13  currency           64 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 6.7+ KB

In [24]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AMZN230707C00060000,2023-07-03 15:45:53+00:00,60.0,70.80,70.05,70.55,1.82,2.638445,2.0,0,3.101565,True,REGULAR,USD
1,AMZN230707C00065000,2023-06-27 17:30:20+00:00,65.0,64.45,65.05,65.55,0.00,0.000000,NaN,0,2.804690,True,REGULAR,USD
2,AMZN230707C00070000,2023-07-03 16:43:23+00:00,70.0,60.88,60.20,60.40,3.18,5.511266,20.0,0,2.523441,True,REGULAR,USD
3,AMZN230707C00075000,2023-06-27 14:50:28+00:00,75.0,53.00,55.10,55.55,0.00,0.000000,2.0,3,2.351567,True,REGULAR,USD
4,AMZN230707C00080000,2023-06-27 14:50:28+00:00,80.0,47.99,50.05,50.60,0.00,0.000000,2.0,0,2.101567,True,REGULAR,USD

In [25]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     60 non-null     object
 1   lastTradeDate      60 non-null     datetime64[ns, UTC]
 2   strike             60 non-null     float64
 3   lastPrice          60 non-null     float64
 4   bid                60 non-null     float64
 5   ask                60 non-null     float64
 6   change             60 non-null     float64
 7   percentChange      60 non-null     float64
 8   volume             57 non-null     float64
 9   openInterest       60 non-null     int64
 10  impliedVolatility  60 non-null     float64
 11  inTheMoney         60 non-null     bool
 12  contractSize       60 non-null     object
 13  currency           60 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 6.3+ KB

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [26]:
PROXY_SERVER = 'PROXY_SERVER'

The following will only work with proper PROXY_SERVER...

In [27]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msgt.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [29]:
tickers = get_multiple_tickers(['MSFT', 'AAPL', 'GOOG'])

In [30]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [31]:
pd.Series(tickers.tickers['MSFT'].info)

address1             One Microsoft Way
city                           Redmond
state                               WA
zip                         98052-6399
country                  United States
                           ...
grossMargins                   0.68522
ebitdaMargins                   0.4821
operatingMargins               0.41415
financialCurrency                  USD
trailingPegRatio                2.4679
Length: 130, dtype: object

In [34]:
tickers.tickers['AAPL'].history(period="1mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-05 00:00:00-04:00,182.630005,184.949997,178.039993,179.580002,121946500,0.0,0.0
2023-06-06 00:00:00-04:00,179.970001,180.119995,177.429993,179.210007,64848400,0.0,0.0
2023-06-07 00:00:00-04:00,178.440002,181.210007,177.320007,177.820007,61944600,0.0,0.0
2023-06-08 00:00:00-04:00,177.899994,180.839996,177.460007,180.570007,50214900,0.0,0.0
2023-06-09 00:00:00-04:00,181.500000,182.229996,180.630005,180.960007,48870700,0.0,0.0
2023-06-12 00:00:00-04:00,181.270004,183.889999,180.970001,183.789993,54274900,0.0,0.0
2023-06-13 00:00:00-04:00,182.800003,184.149994,182.440002,183.309998,54929100,0.0,0.0
2023-06-14 00:00:00-04:00,183.369995,184.389999,182.020004,183.949997,57462900,0.0,0.0
2023-06-15 00:00:00-04:00,183.960007,186.520004,183.779999,186.009995,65433200,0.0,0.0
2023-06-16 00:00:00-04:00,186.729996,186.990005,184.270004,184.919998,101235600,0.0,0.0
2023-06-20 00:00:00-04:00,184.410004,186.100006,184.410004,185.009995,49799100,0.0,0.0
2023-06-21 00:00:00-04:00,184.899994,185.410004,182.589996,183.960007,49515700,0.0,0.0
2023-06-22 00:00:00-04:00,183.740005,187.050003,183.669998,187.000000,51245300,0.0,0.0
2023-06-23 00:00:00-04:00,185.550003,187.559998,185.009995,186.679993,53079300,0.0,0.0
2023-06-26 00:00:00-04:00,186.830002,188.050003,185.229996,185.270004,48088700,0.0,0.0
2023-06-27 00:00:00-04:00,185.889999,188.389999,185.669998,188.059998,50730800,0.0,0.0
2023-06-28 00:00:00-04:00,187.929993,189.899994,187.600006,189.250000,51216800,0.0,0.0
2023-06-29 00:00:00-04:00,189.080002,190.070007,188.940002,189.589996,46347300,0.0,0.0
2023-06-30 00:00:00-04:00,191.630005,194.479996,191.259995,193.970001,85069600,0.0,0.0
2023-07-03 00:00:00-04:00,193.779999,193.880005,191.762497,192.460007,30907450,0.0,0.0

In [35]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  3 of 3 completed

                      Close  Dividends        High         Low        Open
Date
2023-06-05 AAPL  179.580002        0.0  184.949997  178.039993  182.630005  \
           GOOG  126.629997        0.0  127.989998  124.379997  124.610001
           MSFT  335.940002        0.0  338.559998  334.660004  335.220001
2023-06-06 AAPL  179.210007        0.0  180.119995  177.429993  179.970001
           GOOG  127.910004        0.0  128.880005  125.970001  126.599998
           MSFT  333.679993        0.0  335.369995  332.170013  335.329987
2023-06-07 AAPL  177.820007        0.0  181.210007  177.320007  178.440002
           GOOG  122.940002        0.0  129.550003  122.629997  127.574997
           MSFT  323.380005        0.0  334.489990  322.500000  331.649994
2023-06-08 AAPL  180.570007        0.0  180.839996  177.460007  177.899994
           GOOG  122.669998        0.0  123.730003  122.010002  122.584999
           MSFT  325.260010        0.0  326.640015  323.350006  323.940002
2023-06-09 AAPL  180.960007        0.0  182.229996  180.630005  181.500000
           GOOG  122.870003        0.0  124.285004  122.419998  122.559998
           MSFT  326.790009        0.0  329.989990  324.410004  324.989990
2023-06-12 AAPL  183.789993        0.0  183.889999  180.970001  181.270004
           GOOG  124.349998        0.0  124.750000  122.349998  123.394997
           MSFT  331.850006        0.0  332.100006  325.160004  328.579987
2023-06-13 AAPL  183.309998        0.0  184.149994  182.440002  182.800003
           GOOG  124.430000        0.0  125.860001  123.845001  125.650002
           MSFT  334.290009        0.0  336.980011  330.390015  334.470001
2023-06-14 AAPL  183.949997        0.0  184.389999  182.020004  183.369995
           GOOG  124.379997        0.0  124.790001  122.160004  123.800003
           MSFT  337.339996        0.0  339.040009  332.809998  334.339996
2023-06-15 AAPL  186.009995        0.0  186.520004  183.779999  183.960007
           GOOG  125.790001        0.0  126.160004  123.139999  123.879997
           MSFT  348.100006        0.0  349.839996  337.200012  337.480011
2023-06-16 AAPL  184.919998        0.0  186.990005  184.270004  186.729996
           GOOG  124.059998        0.0  126.699997  123.790001  126.699997
           MSFT  342.329987        0.0  351.470001  341.950012  351.320007
2023-06-20 AAPL  185.009995        0.0  186.100006  184.410004  184.410004
           GOOG  123.849998        0.0  125.175003  122.830002  123.535004
           MSFT  338.049988        0.0  342.079987  335.859985  339.309998
2023-06-21 AAPL  183.960007        0.0  185.410004  182.589996  184.899994
           GOOG  121.260002        0.0  123.410004  120.860001  123.235001
           MSFT  333.559998        0.0  337.730011  332.070007  336.369995
2023-06-22 AAPL  187.000000        0.0  187.050003  183.669998  183.740005
           GOOG  123.870003        0.0  123.934998  119.599998  120.660004
           MSFT  339.709991        0.0  340.119995  333.339996  334.119995
2023-06-23 AAPL  186.679993        0.0  187.559998  185.009995  185.550003
           GOOG  123.019997        0.0  123.440002  121.860001  122.040001
           MSFT  335.019989        0.0  337.959991  333.450012  334.359985
2023-06-26 AAPL  185.270004        0.0  188.050003  185.229996  186.830002
           GOOG  119.089996        0.0  122.720001  118.989998  121.466003
           MSFT  328.600006        0.0  336.109985  328.489990  333.720001
2023-06-27 AAPL  188.059998        0.0  188.389999  185.669998  185.889999
           GOOG  119.010002        0.0  119.894997  116.910004  117.839996
           MSFT  334.570007        0.0  336.149994  329.299988  331.859985
2023-06-28 AAPL  189.250000        0.0  189.899994  187.600006  187.929993
           GOOG  121.080002        0.0  121.269997  117.599998  117.959999
           MSFT  335.850006        0.0  337.980011  333.809998  334.660004
2023-06-29 AAPL  189.589996        0.0  190.070007  188.940002  189.080002
           GOOG  120.010002        0.0  120.910004  119.209999  120.089996
           MSFT  335.049988        0.0  336.109985  332.619995  334.709991
2023-06-30 AAPL  193.970001        0.0  194.479996  191.259995  191.630005
           GOOG  120.970001        0.0  122.029999  120.879997  121.099998
           MSFT  340.540009        0.0  342.730011  337.200012  337.750000
2023-07-03 AAPL  192.460007        0.0  193.880005  191.762497  193.779999
           GOOG  120.559998        0.0  121.019997  119.705002  120.320000
           MSFT  337.989990        0.0  340.899994  336.571014  339.190002

                 Stock Splits     Volume
Date
2023-06-05 AAPL           0.0  121946500
           GOOG           0.0   22672500
           MSFT           0.0   21307100
2023-06-06 AAPL           0.0   64848400
           GOOG           0.0   19450100
           MSFT           0.0   20396200
2023-06-07 AAPL           0.0   61944600
           GOOG           0.0   34179300
           MSFT           0.0   40717100
2023-06-08 AAPL           0.0   50214900
           GOOG           0.0   24815000
           MSFT           0.0   23277700
2023-06-09 AAPL           0.0   48870700
           GOOG           0.0   20304500
           MSFT           0.0   22514900
2023-06-12 AAPL           0.0   54274900
           GOOG           0.0   22255700
           MSFT           0.0   24260300
2023-06-13 AAPL           0.0   54929100
           GOOG           0.0   19287700
           MSFT           0.0   22951300
2023-06-14 AAPL           0.0   57462900
           GOOG           0.0   24659600
           MSFT           0.0   26003800
2023-06-15 AAPL           0.0   65433200
           GOOG           0.0   24517100
           MSFT           0.0   38899100
2023-06-16 AAPL           0.0  101235600
           GOOG           0.0   56686800
           MSFT           0.0   46533600
2023-06-20 AAPL           0.0   49799100
           GOOG           0.0   22698000
           MSFT           0.0   26375400
2023-06-21 AAPL           0.0   49515700
           GOOG           0.0   22612000
           MSFT           0.0   25117800
2023-06-22 AAPL           0.0   51245300
           GOOG           0.0   20781900
           MSFT           0.0   23556800
2023-06-23 AAPL           0.0   53079300
           GOOG           0.0   29542900
           MSFT           0.0   23084700
2023-06-26 AAPL           0.0   48088700
           GOOG           0.0   23185000
           MSFT           0.0   21520600
2023-06-27 AAPL           0.0   50730800
           GOOG           0.0   27221700
           MSFT           0.0   24354100
2023-06-28 AAPL           0.0   51216800
           GOOG           0.0   19753100
           MSFT           0.0   20259500
2023-06-29 AAPL           0.0   46347300
           GOOG           0.0   18517500
           MSFT           0.0   16997000
2023-06-30 AAPL           0.0   85069600
           GOOG           0.0   23865800
           MSFT           0.0   26823800
2023-07-03 AAPL           0.0   30907450
           GOOG           0.0   13888262
           MSFT           0.0   12508692

In [38]:
data = get_yahoo_data("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%***********************]  2 of 2 completed

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 to 2020-01-03
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2 non-null      float64
 1   (Adj Close, SPY)   2 non-null      float64
 2   (Close, AAPL)      2 non-null      float64
 3   (Close, SPY)       2 non-null      float64
 4   (High, AAPL)       2 non-null      float64
 5   (High, SPY)        2 non-null      float64
 6   (Low, AAPL)        2 non-null      float64
 7   (Low, SPY)         2 non-null      float64
 8   (Open, AAPL)       2 non-null      float64
 9   (Open, SPY)        2 non-null      float64
 10  (Volume, AAPL)     2 non-null      int64
 11  (Volume, SPY)      2 non-null      int64
dtypes: float64(10), int64(2)
memory usage: 208.0 bytes

In [41]:
# auto_adjust = True
data.tail()

            Adj Close                  Close                   High
                 AAPL         SPY       AAPL         SPY       AAPL
Date
2020-01-02  73.347939  307.375702  75.087502  324.869995  75.150002  \
2020-01-03  72.634850  305.048157  74.357498  322.410004  75.144997

                              Low                   Open
                   SPY       AAPL         SPY       AAPL         SPY
Date
2020-01-02  324.890015  73.797501  322.529999  74.059998  323.540009  \
2020-01-03  323.640015  74.125000  321.100006  74.287498  321.160004

               Volume
                 AAPL       SPY
Date
2020-01-02  135480400  59151200
2020-01-03  146322800  77709700

In [42]:
# auto_adjust = False
data.tail()

            Adj Close                  Close                   High
                 AAPL         SPY       AAPL         SPY       AAPL
Date
2020-01-02  73.347939  307.375702  75.087502  324.869995  75.150002  \
2020-01-03  72.634850  305.048157  74.357498  322.410004  75.144997

                              Low                   Open
                   SPY       AAPL         SPY       AAPL         SPY
Date
2020-01-02  324.890015  73.797501  322.529999  74.059998  323.540009  \
2020-01-03  323.640015  74.125000  321.100006  74.287498  321.160004

               Volume
                 AAPL       SPY
Date
2020-01-02  135480400  59151200
2020-01-03  146322800  77709700